* {
  margin: 0;
  padding: 0;
  line-height: 2.2rem;
  font-family: 'Balsamiq Sans', cursive;
  background-color: #ebe9e9;
}

#header {
  background-color: #ebe9e9;
  width: 100%;
  z-index: 100;
  top: 0;
  min-height: 90px;
  position: relative;
  font-size: 1.25rem;
}

#header .botonera {
  width: 80%;
  max-width: 1280px;
  padding: 15px 0;
  box-sizing: border-box;
}

#header .botonera ul {
  list-style: none;
  float: right;
  margin-left: 70px;
  margin-top: 20px;
}

#header .botonera ul li {
  display: inline-block;
  margin-right: 25px;
}

#header .botonera ul li a {
  text-decoration: none;
  color: black;
}

#header .logo {
  width: 6rem;
  display: block;
  float: left;
  padding-left: 10px;
}

#links {
  padding: 3rem;
  text-decoration: none;
}

footer {
  text-align: right;
  padding-right: 10px;
}

iframe {
  padding: 2.5%;
}

input {
  margin: 1rem;
}

textarea {
  margin: 1rem;
}

select {
  margin: 1rem;
}

.h2ideas {
  font-size: 2.5rem;
  color: #1e1e85;
  line-height: 2rem;
  padding: 2rem;
}

.h2prod {
  font-size: 2.5rem;
  color: #1e1e85;
  line-height: 2rem;
  margin: 3rem;
}

.h3prod2 {
  font-size: 2rem;
  color: #1f0101;
  background-color: #f5f857;
  padding-left: 20px;
}

.h2index {
  font-size: 2.5rem;
  color: #1e1e85;
  line-height: 2rem;
  line-height: 3rem;
  padding: 20px;
}

.ideas_p {
  font-size: 2rem;
  padding-left: 25%;
}

.pqs {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.titulo {
  color: #380d61;
  text-align-last: center;
  font-size: 6rem;
}

.contacto {
  padding-left: 15px;
}

.contacto .contacto__h2 {
  font-size: 2.5rem;
  color: #1e1e85;
  line-height: 2rem;
  padding: 2rem 0rem 2rem 1rem;
}

.contacto .contacto__p {
  font-size: 2rem;
  color: #1f0101;
  padding-left: 10px;
}

.contacto .contacto__input {
  border: 2px solid black;
  margin: 1rem;
}

.prods .prods__h2 {
  font-size: 2.5rem;
  color: #1e1e85;
  line-height: 2rem;
  padding: 3rem;
}

.prods .prods__olprod {
  color: #020220;
  line-height: 3rem;
  padding-left: 3rem;
  background-image: url(https://www.pngkin.com/mnp/121-1214844.png);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
  margin: 2.5%;
  display: inline;
}

.productos {
  border-radius: 2rem;
  height: 250px;
  left: 150px;
  width: 200px;
  display: inline;
  padding-left: 10px;
  padding: 25px;
}

.productosind {
  border-radius: 2rem;
  height: 200px;
  left: 150px;
  width: 150px;
  padding-left: 10px;
  margin: 2rem;
}

.productosi {
  color: #1f0101;
  font-size: 2rem;
  margin: 2rem;
}

.detalle {
  margin: 2rem;
  line-height: 0px;
}

#footer {
  padding: 1em;
  display: inline-block;
}

#footer .pfooter {
  text-align: left;
}

#footer .logofijo {
  position: fixed;
  bottom: 0px;
  right: 20px;
  text-align: right;
  padding-bottom: 1em;
  padding-right: 10%;
}

#footer .logosfooter {
  padding-left: 40%;
}
